{% extends "index.volt" %}

{% block content %}





    {#{% for aha in dbfind %}#}
    {#{{ aha.id }}#}
    {#{% endfor %}#}
    {#{{ textID }}#}

    <fieldset class="scheduler-border">
        {#<legend class="scheduler-border"></legend>#}
        {#<form role="form" action="" method="post">#}
            {#<div class="form-group float-label-control">#}
                {#<label for="">Titel</label>#}
                {#<input name="titel" type="text" class="form-control" placeholder="Titel">#}
            {#</div>#}
            {#<div class="form-group float-label-control">#}
                {#<label for="">Password</label>#}
                {#<input type="password" class="form-control" placeholder="Password">#}
            {#</div>#}
            {#<div class="form-group float-label-control">#}
                {#<label for="">Omschrijving</label>#}
                {#<textarea class="form-control" placeholder="Textarea" rows="5"></textarea>#}
            {#</div>#}
        {#</form>#}

        <form role="form" action="" method="post">

            <div class="form-group float-label-control">
                <label for="">Titel</label>
                <input name="title" type="text" class="form-control" placeholder="Titel">
            </div>

            <div class="form-group float-label-control">
                <label for="">Positie</label>
                <input name="position" type="text" class="form-control" placeholder="Positie">
            </div>

            <textarea name="editor1" id="editor1" rows="10" cols="80">{{ cntTxt }}</textarea>
            <input type="submit" value="INSERT">

        </form>
    </fieldset>

    {#<fieldset class="scheduler-border">#}
        {#<legend class="scheduler-border">Start Time</legend>#}

    {#</fieldset>#}


    {#<h4 class="page-header">Bottom Labels</h4>#}
    {#<form role="form">#}
        {#<div class="form-group float-label-control label-bottom">#}
            {#<label for="">Username</label>#}
            {#<input type="email" class="form-control" placeholder="Username">#}
        {#</div>#}
    {#</form>#}


    {#<h4 class="page-header">Placeholder Overrides</h4>#}
    {#<form role="form">#}
        {#<div class="form-group float-label-control">#}
            {#<label for="">Email Address</label>#}
            {#<input type="email" class="form-control" placeholder="What's your email address?">#}
        {#</div>#}
    {#</form>#}


    <script>
        CKEDITOR.replace( 'editor1' );
    </script>

{% endblock %}