{% extends "index.volt" %}

{% block header %}

{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}

    {{ textID }}

    {{ dump(values) }}

    {% for i in 0..valuesLength %}
        <img alt="image" style="width: 200px; height: 150px;" src="{{ baseUrl }} {{ values[i] }}"/>
    {% endfor %}

{{ outputcss }}

{% endblock %}















